# General
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.example.json
!.vscode/settings.example.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env.*

# Serverless directories
.serverless/

Brewfile.lock.json
